<div data-role='page'>
  <div data-role='header'>
    {{>home}}
    <h1>{{label}}{{#unsynced}} (Unsynced){{/unsynced}}</h1>
    <a data-icon="edit" data-iconpos="notext" data-transition="flip"
       {{#unsynced}}
       href="{{pages_info.base_url}}/outbox/{{outbox_id}}/edit"
       {{/unsynced}}
       {{^unsynced}}
       href="{{pages_info.base_url}}/items/{{id}}/edit"
       {{/unsynced}}
       >Edit</a>
  </div>
  <div role="main" class="ui-content">
    <p>{{label}}</p>
    <p><span style="color:{{color}}">{{color_label}}</span></p>
    <p>{{#type}}{{label}}{{/type}}</p>
{{>footer}}
