<div data-role='page'>
  <div data-role='header'>
    {{>home}}
    <h1>{{label}}{{#unsynced}} (Unsynced){{/unsynced}}</h1>
    <a data-icon="edit" data-iconpos="notext" data-transition="flip"
       {{#unsynced}}
       href="{{rt}}/outbox/{{outbox_id}}/edit"
       {{/unsynced}}
       {{^unsynced}}
       href="{{rt}}/items/{{id}}/edit"
       {{/unsynced}}
       >Edit</a>
  </div>
  <div role="main" class="ui-content">
    <p>{{label}}</p>
    <p><span style="color:{{color}}">{{color_label}}</span></p>
    <p>{{#type}}
      <a href="{{rt}}/itemtypes/{{id}}/items">
        {{label}}
      </a>
    {{/type}}</p>
    <div id="item-{{id}}-map" style="height:400px;"></div>
{{>footer}}
